{%  extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-3">Bienvenue sur mon blog symfony!</h1>
    <p class="lead">Blog 100% réalisé avec le framework symfony.</p>
  </div>

{% endblock %}